.info-page {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(1, 20, 22);
}

.info-box-container{
    margin: 0em;
    padding: 0em;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .info-box {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .icon {
            width: 50px;
        }
    }
}
