.progress {
    transform: translate(0px, 50px);
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5em;
}

.hidden {
    visibility: hidden;
}

.blend-background {
    background-color: rgb(255, 255, 255);
    border: 2px;
    border-style: solid;
    border-color: rgb(18, 18, 18);
}

.client-container {
    display: flex;
    justify-content: center;
    .avatar-container {
        visibility: visible;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 110px;
        width: 110px;
        border-radius: 50%;
    
        .recipient-icon-motion {
            -webkit-user-drag: none;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
    }
}
