@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Poppins&family=Roboto+Mono:wght@500&family=Source+Code+Pro:wght@500&display=swap');

body {
    margin: 0;
    overflow: hidden;
    font-family: Comfortaa;
    background-color: rgb(18, 18, 18);
    color: white;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.hidden {
    display: none;
}

.recipient-container {
    display: flex;
    justify-content: center;
}

.footer-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 5em;
    text-align: center;

    // scaled 0.9 in motion.h2
    h1 {
        text-align: center;
    }
}

.join-device {
    position: absolute;
    top:10em;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}

.modal {
    width: 350px;
    height: min(50%, 200px);

    margin: auto;
    padding: 0 2rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
}
