body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    background-color: rgb(24, 24, 24);
    color: white;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hidden {
    display: none;
}

.recipient-container {
    display: flex;
    justify-content: center;
}

.active-recipient {
    padding: 1em;
    .recipient-icon-motion {
        border-radius: 50%;
        max-width: 90px;
    }
}

.footer-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 3em;
    text-align: center;
    h1 {
        text-align: center;
    }
}

