.empty {
    display: flex;
    justify-content: right;
    margin: 0em;
    .nav-container {
        padding: 1.5em;
        .icon {
            margin-left: 0; 
            width: 20px;
        }
    }
}